@media only screen and (min-width: 768px) {
  #mobile-nav {
    display: none;
  }
}

@media only screen and (max-width: 500px) {
  #header_text {
    display: none;
  }
}

@media only screen and (max-width: 500px) {
  #header_buttons {
    display: none;
  }
}

#mobile-nav {
  color: #fff;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%; /* 35.2px */
}

#header-container {
  width: 80%; /* Set the width of the container */
  margin: 10px;
  padding: 24px; /* Add padding inside the container */
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.05);

  /* Shadow/Dark/XXL */
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.07),
    0px 25px 50px -12px rgba(0, 0, 0, 0.25);
}

#header_text {
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%; /* 35.2px */
}

#landing_hero_text_header_underline {
  border-bottom: 4px solid #c084fc; /* Set the color and style of the underline */
  text-decoration: none; /* Remove the default underline style */
}

#header_list_text {
  color: #fff;

  /* Button/M */
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.5px;
}

#header_list_signup_button {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.5px;
  padding: 12px;
  border-radius: 8px;
  border: 2px solid #9333ea;
  background: #9333ea;
}

#header_list_login_button {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.5px;
  padding: 12px;
  border-radius: 8px;
}

#landing-hero-text-header {
  color: #fff;
  /* Heading/1 M */
  font-size: 72px;
  font-style: normal;
  font-weight: 800;
  line-height: 110%; /* 79.2px */
}

#landing-hero-text {
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 28.8px */
}

#landing-hero-button1 {
  width: 168px;
  padding: 16px;
  border-radius: 8px;
  border: 2px solid #9333ea;
  background: #9333ea;
  color: #fff;
  /* Button/L */
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 120% */
  letter-spacing: 0.5px;
}

#landing-hero-button2 {
  padding: 16px;
  border-radius: 8px;
  border: 2px solid #fff;
  background: #0f172a;
  color: #fff;
  /* Button/L */
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 120% */
  letter-spacing: 0.5px;
}

#banner_hero_text_heading {
  color: var(--White, #fff);
  text-align: center;

  /* Heading/2 */
  font-size: 56px;
  font-style: normal;
  font-weight: 800;
  line-height: 110%; /* 61.6px */
}

#banner-hero-banners {
  gap: 40px;
  color: #fff;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%; /* 26.4px */
}

#discover_hero_small_text {
  color: #fff;

  /* Caption/M */
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 20px */
  letter-spacing: 3px;
  text-transform: uppercase;
}

#discover_hero_text_heading {
  /* Heading/1 M */
  font-size: 72px;
  font-style: normal;
  font-weight: 800;
  line-height: 110%; /* 79.2px */
}

#discover_hero_text {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 28.8px */
}

#powerful_hero_text_heading {
  color: var(--White, #fff);

  /* Heading/2 */
  font-size: 56px;
  font-style: normal;
  font-weight: 800;
  line-height: 110%; /* 61.6px */
}

#testimonial_view_case_study_button {
  padding: 16px;
  border-radius: 8px;
  border: 2px solid #fff;
  background: #581c87;
  color: #fff;
  /* Button/L */
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 120% */
  letter-spacing: 0.5px;
}

#design_events_text_left_header {
  /* Heading/2 */
  font-size: 56px;
  font-style: normal;
  font-weight: 800;
  line-height: 110%; /* 61.6px */
}

#design_events_text_right_header {
  color: #9333ea;

  /* Button/M */
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.5px;
}

#design_events_text_right_header_container {
  padding: 12px 0px;
}

#design_events_text_right_button {
  padding: 16px;
  border-radius: 8px;
  border: 2px solid #581c87;
  background: #fff;
  color: #581c87;
  /* Button/L */
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 120% */
  letter-spacing: 0.5px;
}

#design_events_card_top_button {
  border-radius: 4px;
  background: #f3e8ff;
  padding: 8px 4px;
  color: #6b21a8;

  /* Body/S */
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 19.6px */
}

#design_events_card_small_text {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%; /* 17.6px */
}

#design_events_card_header {
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%; /* 44px */
}

#design_events_card_button {
  padding: 7px 7px;
  border-radius: 8px;
  border: 1px solid #581c87;
  color: #581c87;
  background-color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.5px;
}

#footer_header {
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%; /* 35.2px */
}

#footer_nav_head_text {
  color: #94A3B8;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%;
}
